version: '3'

services:
  redis:
    image: redis
    ports:
      - 6379:6379

  flask:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    volumes:
      - .:/project
    depends_on:
      - redis
    links:
      - redis:redis
    environment:
      - FLASK_ENV=development