[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
tox = "*"
pytest-watch = "*"
pytest-cov = "*"
fakeredis = "*"
pytest-mock = "*"

[packages]
flask = "*"
redis = "*"

[requires]
python_version = "3.7"
