@import url(http://fonts.googleapis.com/css?family=Varela+Round);


#app {
    height:100vh;
    width:100%;
    background-color:#1fc8db;
    background-image:linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    opacity: 0.95;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 16pt;
    font-family: 'Varela Round', 'Courier New', Courier, monospace
}

#shorten_url {
    text-align: center;
    margin: auto;
}

#shorten_url .tab-content {
    height: 250px;
    padding: 50px;
}

#not_found {
    text-align: center;
    font-weight: bold;
    margin: auto;
    color: #EDEDED;
}

#not_found p {
    font-size: 4rem;
}

#not_found i {
    color: purple;
}

#table_urls td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tc {
    text-align: center !important;
}

.nav-pills .nav-link:not(.active) {
    color: #007bff;
    background: #fff;
    opacity: 0.4;
}

.copy {
    padding-right: 0px;
}

.copy .input-group {
    visibility: hidden;
}